<header class = "p-3 bg-black">
    <div class = "d-flex justify-content-center">
        <div class = "d-flex gap-5 customHeader">
            <p class = "fs-5 text-light customButton"  routerLink="list-nurses" routerLinkActive="active"> SHOW ALL NURSES </p>
            <p class = "fs-5 text-light customButton" routerLink="find-by-name" routerLinkActive="active"> SEARCH NURSES BY NAME</p>
            <p class = "fs-5 text-light customButton" routerLink="login" routerLinkActive="active"> LOGIN </p>
        </div>
    </div>
</header>

<img src="https://a1.elespanol.com/metropoliabierta/2022/06/01/vivir-en-barcelona/676942311_9584975_1706x960.jpg" alt="hospital" id="hospitalimg">