<header class = "p-3 bg-black">
    <div class = "d-flex justify-content-center">
        <div class = "d-flex gap-5">
            <p class = "fs-4 text-light" routerLink="login" routerLinkActive="active"> Show all nurses </p>
            <p class = "fs-4 text-light" routerLink="login" routerLinkActive="active"> Search nurses by name</p>
            <p class = "fs-4 text-light" routerLink="login" routerLinkActive="active"> Login </p>
            
        </div>
        
    </div>
    
</header>
